<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-streaming-media"
	version="2.2.0">

	<name>StreamingMedia</name>

	<description>
		This plugin allows you to launch a fullscreen streaming player for audio or video on iOS and Android.
	</description>

	<author>Nicholas Hutchind</author>

	<license>MIT</license>

	<keywords>Streaming, Media, Video, Audio, Android, iOS</keywords>

	<repo>https://github.com/nchutchind/Streaming-Media-Cordova-Plugin.git</repo>

	<issue>https://github.com/nchutchind/Streaming-Media-Cordova-Plugin/issues</issue>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/StreamingMedia.js" name="StreamingMedia">
		<clobbers target="streamingMedia" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="StreamingMedia">
				<param name="ios-package" value="StreamingMedia" />
			</feature>
		</config-file>
		<config-file target="*-Info.plist" parent="UIBackgroundModes">
			<array>
				<string>audio</string>
				<string>fetch</string>
			</array>
		</config-file>
		<header-file src="src/ios/StreamingMedia.h" />
		<source-file src="src/ios/StreamingMedia.m" />
		<header-file src="src/ios/LandscapeVideo.h" />
		<source-file src="src/ios/LandscapeVideo.m" />
		<header-file src="src/ios/PortraitVideo.h" />
		<source-file src="src/ios/PortraitVideo.m" />
        
        <header-file src="src/ios/RtspPlayer/RtspPlayerViewController.h" />
        <source-file src="src/ios/RtspPlayer/RtspPlayerViewController.m" />
        <resource-file src="src/ios/RtspPlayer/RtspPlayerViewController.xib" />
        <resource-file src="src/ios/RtspPlayer/RtspPlayer.bundle" />
        
        <header-file src="src/ios/RtspPlayer/include/M3U8.h" />
        <header-file src="src/ios/RtspPlayer/include/MediaPlayer.h" />
        <header-file src="src/ios/RtspPlayer/include/MediaPlayerConfig.h" />
        <header-file src="src/ios/RtspPlayer/include/MediaPlayerPlaySegment.h" />
        <header-file src="src/ios/RtspPlayer/include/Thumbnailer.h" />
        <header-file src="src/ios/RtspPlayer/include/ThumbnailerConfig.h" />
        
        <source-file src="src/ios/RtspPlayer/libMediaPlayerSDK.a" framework="true" />
        <source-file src="src/ios/RtspPlayer/ffmpeg.framework" target-dir="lib" framework="true" />
        <!-- embed="true" requires cordova-ios 4.4.0 and cordova 7.0.0 -->
        <framework src="src/ios/RtspPlayer/ffmpeg.framework" embed="true" custom="true" />
        
		<framework src="MediaPlayer.framework" />
	</platform>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="StreamingMedia">
				<param name="android-package" value="com.hutchind.cordova.plugins.streamingmedia.StreamingMedia" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:configChanges="orientation|screenSize" android:name="com.hutchind.cordova.plugins.streamingmedia.SimpleAudioStream" android:label="Simple Audio Stream"></activity>
			<activity android:configChanges="orientation|screenSize" android:name="com.hutchind.cordova.plugins.streamingmedia.SimpleVideoStream" android:label="Simple Video Stream"></activity>
		</config-file>
		<source-file src="src/android/com/hutchind/cordova/plugins/streamingmedia/SimpleAudioStream.java" target-dir="src/com/hutchind/cordova/plugins/streamingmedia" />
		<source-file src="src/android/com/hutchind/cordova/plugins/streamingmedia/SimpleVideoStream.java" target-dir="src/com/hutchind/cordova/plugins/streamingmedia" />
		<source-file src="src/android/com/hutchind/cordova/plugins/streamingmedia/StreamingMedia.java" target-dir="src/com/hutchind/cordova/plugins/streamingmedia" />
		<source-file src="src/android/com/hutchind/cordova/plugins/streamingmedia/ImageLoadTask.java" target-dir="src/com/hutchind/cordova/plugins/streamingmedia" />

		<source-file src="src/android/libs/arm64-v8a/libffmpeg-arm64-v8a.so" target-dir="libs/arm64-v8a"/>
		<source-file src="src/android/libs/arm64-v8a/librtspplr-arm64-v8a.so" target-dir="libs/arm64-v8a"/>
		<source-file src="src/android/libs/arm64-v8a/librtstm-arm64-v8a.so" target-dir="libs/arm64-v8a"/>
		<source-file src="src/android/libs/arm64-v8a/libyuv_shared-arm64-v8a.so" target-dir="libs/arm64-v8a"/>

		<source-file src="src/android/libs/armeabi-v7a/libffmpeg-armeabi-v7a.so" target-dir="libs/armeabi-v7a"/>
		<source-file src="src/android/libs/armeabi-v7a/librtspplr-armeabi-v7a.so" target-dir="libs/armeabi-v7a"/>
		<source-file src="src/android/libs/armeabi-v7a/librtstm-armeabi-v7a.so" target-dir="libs/armeabi-v7a"/>
		<source-file src="src/android/libs/armeabi-v7a/libyuv_shared-armeabi-v7a.so" target-dir="libs/armeabi-v7a"/>

		<source-file src="src/android/libs/x86/libffmpeg-x86.so" target-dir="libs/x86"/>    
		<source-file src="src/android/libs/x86/librtspplr-x86.so" target-dir="libs/x86"/>    
		<source-file src="src/android/libs/x86/librtstm-x86.so" target-dir="libs/x86"/>    
		<source-file src="src/android/libs/x86/libyuv_shared-x86.so" target-dir="libs/x86"/>

		<source-file src="src/android/libs/mediaplayersdk.jar" target-dir="libs"/>
	</platform>

	<platform name="amazon-fireos">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="StreamingMedia">
				<param name="android-package" value="com.hutchind.cordova.plugins.streamingmedia.StreamingMedia" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:configChanges="orientation|screenSize" android:name="com.hutchind.cordova.plugins.streamingmedia.SimpleAudioStream" android:label="Simple Audio Stream"></activity>
			<activity android:configChanges="orientation|screenSize" android:name="com.hutchind.cordova.plugins.streamingmedia.SimpleVideoStream" android:label="Simple Video Stream"></activity>
		</config-file>
		<source-file src="src/android/com/hutchind/cordova/plugins/streamingmedia/SimpleAudioStream.java" target-dir="src/com/hutchind/cordova/plugins/streamingmedia" />
		<source-file src="src/android/com/hutchind/cordova/plugins/streamingmedia/SimpleVideoStream.java" target-dir="src/com/hutchind/cordova/plugins/streamingmedia" />
		<source-file src="src/android/com/hutchind/cordova/plugins/streamingmedia/StreamingMedia.java" target-dir="src/com/hutchind/cordova/plugins/streamingmedia" />
		<source-file src="src/android/com/hutchind/cordova/plugins/streamingmedia/ImageLoadTask.java" target-dir="src/com/hutchind/cordova/plugins/streamingmedia" />
	</platform>
</plugin>
